@import '../../../furniture/colours.css';

.member {
    display: flex;
    align-items: center;
    background: white;
    border: 2px solid var(--theme-black);
    padding: 15px;
    /* Prevent accidental selection when dragging and dropping. */
    user-select: none;
}

.handle {
    line-height: 0;
    /* Prevents the screen from scrolling when dragging and dropping. */
    touch-action: none;
    cursor: move;
}

.handle:focus {
    outline: 2px dotted var(--theme-accent-pink);
}

.name {
    margin: 0 5px 0 10px;
}