@import '../colours.css';

header {
    background: var(--theme-background-pink);
    border-bottom: 15px solid var(--theme-accent-pink);
}

header .container {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

header svg {
    margin-right: 15px;
    height: 45px;
    flex: 0 0 auto;
}
