@import '../colours.css';

@keyframes rotate {
    to {transform: rotate(360deg);}
}

.spinner {
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: var(--theme-accent-pink);
    animation: rotate 0.9s linear infinite;
}
