.container {
    display: flex;
    align-items: center;
    background: var(--theme-accent-pink);
    border: 1px solid var(--theme-accent-pink);
    white-space: nowrap;
}

.copy {
    padding: 4px 10px;
    border: none;
    font-size: medium;
}

.url {
    flex: 1;
    padding: 4px 6px;
    overflow: auto;
    background: var(--theme-background-pink);
}
