.footer {
    background: var(--theme-background-pink);
    border-top: 3px solid var(--theme-accent-pink);
    padding: 10px 0;
    text-align: center;
}

.footer div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer svg {
    height: 25px;
    margin: 0 15px;
}