@import './furniture/colours.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--theme-barely-pink);
  color: var(--theme-black);
}

input {
  font-size: large;
}

button, .button {
  display: inline-block;
  background: var(--theme-accent-pink);
  border: 2px solid var(--theme-black);
  padding: 10px 20px;
  color: inherit;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
}

button:active, button:focus, .button:hover {
  outline: 2px solid var(--theme-black);
}

.container {
  max-width: 768px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 5px 20px;
}

.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}