@import '../../../furniture/colours.css';

.member {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
    background: white;
    border: 2px solid var(--theme-black);
    padding: 15px;
}

.said {
    display: flex;
    align-items: center;
}

.said i {
    margin-left: 5px;
}